@use "../abstract" as *;

.header {
  &__wrapper {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    h1 {
        color: $clr--dark;  
        font-size: 3rem;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
    }
  }
}
