@use "../abstract/" as *;

.btn {
  background-color: transparent;

  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid transparent;

  &.bg--yellow {
    background-color: $clr--brown;
    color: $clr--light;
  }
//   &.bg--white {
//     background-color: $clr--light;
//     color: $clr--dark;
//   }

//   &.bg--v_dark {
//     background-color: $clr--v_dark;
//     color: $clr--light;
//   }

//   &.bg--v_light {
//     background-color: $clr--v_light;
//     color: $clr--light;
//   }
}
